---
# - name: Docker | CE | DNF | Remove older Docker installations
#   dnf: name={{ item }} state=absent
#   with_items:
#     - docker
#     - docker-common
#     - docker-engine

- name: Docker | CE | DNF | Add repository key
  block:
    - name: Docker | CE | DNF | Add repository key
      rpm_key:
        key: "{{ docker_ce_gpg_key }}"
  rescue:
    - name: Docker | CE | DNF | Ensure curl is present (systems without SNI).
      package: name=curl
    - name: Docker | CE | DNF | Download GPG key (systems without SNI).
      shell: "curl -sSL {{ docker_ce_gpg_key }} -o /tmp/docker-gpg"
    - name: Docker | CE | DNF | Add Docker GPG key (systems without SNI).
      shell: rpm --import /tmp/docker-gpg
    - name: Docker | CE | DNF | Remove docker-gpg from tmp folder
      file: path=/tmp/docker-gpg state=absent

- name: Docker | CE | DNF | Deploy repository
  block:
    - name: Docker | CE | DNF | Deploy repository
      get_url:
        url: "{{ docker_ce_repo_file_url }}"
        dest: /etc/yum.repos.d/docker-ce.repo
        owner: root
        group: root
        mode: 0644
  rescue:
    - name: Docker | CE | DNF | Install dnf-utils (systems without SNI)
      dnf: name=dnf-plugins-core
    - name: Docker | CE | DNF | Deploy repository (systems without SNI)
      shell: "dnf config-manager --add-repo {{ docker_ce_repo_file_url }}"
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

- name: Docker | CE | DNF | Enable edge repository
  yum_repository:
    name: docker-ce-edge
    description: "Docker CE Edge - $basearch"
    baseurl: "{{ docker_ce_edge_repo_url }}"
    gpgcheck: yes
    gpgkey: "{{ docker_ce_gpg_key }}"
    enabled: yes
    file: docker-ce
  when: docker_channel == "edge"

- name: Docker | CE | DNF | Perform specific os tasks
  include_tasks: "{{ item }}"
  with_first_found:
    - os/{{ ansible_distribution.split(' ', 1)[0]|lower }}.yml
    - os/default.yml

- name: Docker | CE | DNF | Install docker-ce
  dnf:
    name: docker-ce
    state: present
  notify: Docker | Restart Docker
