{% if docker_api_cors_header is defined %}
api-cors-header: {{ docker_api_cors_header }}
{% endif %}
{% if docker_authorization_plugins is defined %}
authorization-plugins: {{ docker_authorization_plugins }}
{% endif %}
{% if docker_bip is defined %}
bip: {{ docker_bip }}
{% endif %}
{% if docker_bridge is defined %}
bridge: {{ docker_bridge }}
{% endif %}
{% if docker_cgroup_parent is defined %}
cgroup-parent: {{ docker_cgroup_parent }}
{% endif %}
{% if docker_cluster_store is defined %}
cluster-store: {{ docker_cluster_store }}
{% endif %}
{% if docker_cluster_store_opts is defined %}
cluster-store-opts: {{ docker_cluster_store_opts }}
{% endif %}
{% if docker_cluster_advertise is defined %}
cluster-advertise: {{ docker_cluster_advertise }}
{% endif %}
{% if docker_debug is defined %}
debug: {{ docker_debug }}
{% endif %}
{% if docker_default_gateway is defined %}
default-gateway: {{ docker_default_gateway }}
{% endif %}
{% if docker_default_gateway_v6 is defined %}
default-gateway-v6: {{ docker_default_gateway_v6 }}
{% endif %}
{% if docker_default_runtime is defined %}
default-runtime: {{ docker_default_runtime }}
{% endif %}
{% if docker_default_ulimits is defined %}
default-ulimits: {{ docker_default_ulimits }}
{% endif %}
{% if docker_disable_legacy_registry is defined %}
disable-legacy-registry: {{ docker_disable_legacy_registry }}
{% endif %}
{% if docker_dns is defined %}
dns: {{ docker_dns }}
{% endif %}
{% if docker_dns_opts is defined %}
dns-opts: {{ docker_dns_opts }}
{% endif %}
{% if docker_dns_search is defined %}
dns-search: {{ docker_dns_search }}
{% endif %}
{% if docker_exec_opts is defined %}
exec-opts: {{ docker_exec_opts }}
{% endif %}
{% if docker_exec_root is defined %}
exec-root: {{ docker_exec_root }}
{% endif %}
{% if docker_fixed_cidr is defined %}
fixed-cidr: {{ docker_fixed_cidr }}
{% endif %}
{% if docker_fixed_cidr_v6 is defined %}
fixed-cidr-v6: {{ docker_fixed_cidr_v6 }}
{% endif %}
{% if docker_graph is defined %}
graph: {{ docker_graph }}
{% endif %}
{% if docker_group is defined %}
group: {{ docker_group }}
{% endif %}
{% if docker_hosts is defined %}
hosts: {{ docker_hosts }}
{% endif %}
{% if docker_icc is defined %}
icc: {{ docker_icc }}
{% endif %}
{% if docker_insecure_registries is defined %}
insecure-registries: {{ docker_insecure_registries }}
{% endif %}
{% if docker_ip is defined %}
ip: {{ docker_ip }}
{% endif %}
{% if docker_iptables is defined %}
iptables: {{ docker_iptables }}
{% endif %}
{% if docker_ipv6 is defined %}
ipv6: {{ docker_ipv6 }}
{% endif %}
{% if docker_ip_forward is defined %}
ip-forward: {{ docker_ip_forward }}
{% endif %}
{% if docker_ip_masq is defined %}
ip-masq: {{ docker_ip_masq }}
{% endif %}
{% if docker_labels is defined %}
labels: {{ docker_labels }}
{% endif %}
{% if docker_live_restore is defined %}
live-restore: {{ docker_live_restore }}
{% endif %}
{% if docker_log_driver is defined %}
log-driver: {{ docker_log_driver }}
{% endif %}
{% if docker_log_level is defined %}
log-level: {{ docker_log_level }}
{% endif %}
{% if docker_log_opts is defined %}
log-opts: {{ docker_log_opts }}
{% endif %}
{% if docker_max_concurrent_downloads is defined %}
max-concurrent-downloads: {{ docker_max_concurrent_downloads }}
{% endif %}
{% if docker_max_concurrent_uploads is defined %}
max-concurrent-uploads: {{ docker_max_concurrent_uploads }}
{% endif %}
{% if docker_mtu is defined %}
mtu: {{ docker_mtu }}
{% endif %}
{% if docker_oom_score_adjust is defined %}
oom-score-adjust: {{ docker_oom_score_adjust }}
{% endif %}
{% if docker_pidfile is defined %}
pidfile: {{ docker_pidfile }}
{% endif %}
{% if docker_raw_logs is defined %}
raw-logs: {{ docker_raw_logs }}
{% endif %}
{% if docker_registry_mirrors is defined %}
registry-mirrors: {{ docker_registry_mirrors }}
{% endif %}
{% if docker_runtimes is defined %}
runtimes: {{ docker_runtimes }}
{% endif %}
{% if docker_selinux_enabled is defined %}
selinux-enabled: {{ docker_selinux_enabled }}
{% endif %}
{% if docker_storage_driver is defined %}
storage-driver: {{ docker_storage_driver }}
{% endif %}
{% if docker_storage_opts is defined %}
storage-opts: {{ docker_storage_opts | to_json }}
{% endif %}
{% if docker_swarm_default_advertise_addr is defined %}
swarm-default-advertise-addr: {{ docker_swarm_default_advertise_addr }}
{% endif %}
{% if docker_tls is defined %}
tls: {{ docker_tls }}
{% endif %}
{% if docker_tlscacert is defined %}
tlscacert: {{ docker_tlscacert }}
{% endif %}
{% if docker_tlscert is defined %}
tlscert: {{ docker_tlscert }}
{% endif %}
{% if docker_tlskey is defined %}
tlskey: {{ docker_tlskey }}
{% endif %}
{% if docker_tlsverify is defined %}
tlsverify: {{ docker_tlsverify }}
{% endif %}
{% if docker_userland_proxy is defined %}
userland-proxy: {{ docker_userland_proxy }}
{% endif %}
{% if docker_userns_remap is defined %}
userns-remap: {{ docker_userns_remap }}
{% endif %}
