[Service]
{% if docker_http_proxy is defined %}
Environment="HTTP_PROXY={{ docker_http_proxy }}"
{% endif %}
{% if docker_https_proxy is defined %}
Environment="HTTPS_PROXY={{ docker_https_proxy }}"
{% endif %}
{% if docker_no_proxy_params is defined %}
Environment="NO_PROXY={{ docker_no_proxy_params }}"
{% endif %}
